@model PostDetalhesViewModel
@{
    ViewData["Title"] = "Detalhes do artigo";
}

<vc:carrossel></vc:carrossel>

<div class="">
    <div class="container  pt-3">
        <nav aria-label=" breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Categoria">Categorias</a></li> 
                <li class="breadcrumb-item">
                    <a asp-action="PorCategoria" asp-controller="Post" asp-route-id="@Model.CategoriaId">@Model.CategoriaNome</a>
                </li>
                <li class="breadcrumb-item active text-white" aria-current="page">Detalhes do Post</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        <partial name="~/Views/Post/PesquisaMobile.cshtml"   />

        <div class="col-md-8 col-sm-12 col-xs-12 mb-3">
            <article class="card mb-3">
                <div class="card-body sys-articles-content">
                    <header>
                        <h1>
                            <a asp-controller="Post" asp-action="Detalhes" asp-route-id="@Model.PostId" rel="bookmark">@Model.TituloPost</a>
                        </h1>
                        <div class="article-details">
                            <span class="posted-on">
                                <a asp-action="Detalhes" asp-controller="post" asp-route-id="@Model.PostId" rel="bookmark">
                                    @Html.Raw(Model.DataECriadorPost)
                                </a>
                            </span>   
                        </div>
                    </header>
                    <div class="article-img pb-3">
                        <img src="~/img/artigos/@Model.Imagem" alt="@Model.TituloPost" title="@Model.TituloPost">
                    </div>
                    <div class="article-content">
                        @Html.Raw(Model.DescritivoPost)
                    </div> 
                    <div class="lista-tags">
                        @foreach (var tag in Model.Tags)
                        {
                            <a asp-action="PorTag" asp-controller="Post" asp-route-tag="@tag">@tag</a>
                        }
                    </div>
                </div>
               
            </article>

            <a class="btn btn-lg btn-primary" href="javascript:history.back()">Voltar</a>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <partial name="~/Views/Post/PesquisaDesktop.cshtml"   />
            <vc:categorias></vc:categorias>
            <vc:tags></vc:tags>
            <vc:posts-recentes></vc:posts-recentes> 
        </div>
    </div>
</div>