@model PostDetalhesViewModel
@{
    ViewData["Title"] = "Detalhes do artigo";
}

<vc:carrossel></vc:carrossel>

<div class="container pt-3">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <article class="card mb-3">
                <div class="card-body sys-articles-content">
                    <header>
                        <h1>
                            <a asp-controller="Post" asp-action="Detalhes" asp-route-id="@Model.Post.Id" rel="bookmark">@Model.Post.Titulo</a>
                        </h1>
                        <div class="article-details">
                            <span class="posted-on">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                                </svg>
                                <a asp-controller="Post" asp-action="Detalhes" asp-route-id="@Model.Post.Id"  rel="bookmark">
                                    <time class="" datetime="@Model.Post.CadastradoEm">@Model.Post.CadastradoEm</time> 
                                </a>
                            </span>
                            <span class="byline">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                </svg>
                                <span class="author vcard">
                                    <a class="url fn n" href="#">@Model.Post.CriadoPor</a>
                                </span>
                            </span>
                               
                        </div>
                    </header>
                    <div class="article-img pb-3">
                        <img src="~/img/artigos/@Model.Post.Imagem" alt="@Model.Post.Titulo" title="@Model.Post.Titulo">
                    </div>
                    <div class="article-content">
                        @Model.Post.Descritivo
                    </div> 
                </div>
            </article>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="card mb-3 ">
                <div class="card-body pesquisa-container">
                    <input type="search" class="form-control" placeholder="Pesquise pelos termos do artigo.">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </div>
            </div>

            <vc:categorias></vc:categorias>
            <vc:tags></vc:tags>
            <vc:posts-recentes></vc:posts-recentes> 
        </div>
    </div>
</div>