@model List<Post>
@{
    ViewData["Title"] = "Lista de posts por tag";
}

<vc:carrossel></vc:carrossel>
 
<div class="container pt-3">
    <div class="row">
        <partial name="~/Views/Post/PesquisaMobile.cshtml"   />

        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="mb-0">
                        <strong>@Model.Count()</strong> Resultados encontrados para <strong>@ViewBag.Pesquisa</strong>
                    </h2>
                </div>
            </div>

            @foreach (var post in Model)
            {
                <article class="card mb-3">
                    <div class="card-body sys-articles-content">
                        <header>
                            <h1>
                                <a asp-action="Detalhes" asp-controller="post" asp-route-id="@post.Id" rel="bookmark">@post.Titulo</a>
                            </h1>
                            <div class="article-details">
                                <span class="posted-on">
                                    <a asp-action="Detalhes" asp-controller="post" asp-route-id="@post.Id" rel="bookmark">
                                        @Html.Raw(post.ObterDataECriador())
                                    </a>
                                </span>   
                            </div>
                        </header>
                        <div class="article-img pb-3">
                            <img src="~/img/artigos/@post.Imagem" alt="@post.Titulo" title="@post.Titulo">
                        </div>
                        <div class="article-content">
                            @Html.Raw(post.ObterPedacoDescritivo())
                            <div class="text-end">
                                <a class="btn btn-primary" asp-action="Detalhes" asp-controller="post" asp-route-id="@post.Id">Continue lendo</a>
                            </div>
                        </div> 
                        <div class="lista-tags">
                            @foreach (var tag in post.TagsItens)
                            {
                                <a asp-action="PorTag" asp-controller="Post" asp-route-tag="@tag">@tag</a>
                            }
                        </div>
                    </div>
                </article>
            }
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <partial name="~/Views/Post/PesquisaDesktop.cshtml"   />

            <vc:categorias></vc:categorias>
            <vc:tags></vc:tags>
            <vc:posts-recentes></vc:posts-recentes> 
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function(){
            $(".nav-link").first().addClass("active");
        });
    </script>
}