@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="img/imagem1.jpg" alt="" title="" >
            
            <div class="container">
                <div class="carousel-caption text-start">
                    <h3>Tratando Exceptions com C# 9</h1>
                    <p>Some representative placeholder content for the first slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Veja mais</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item active">
            <img src="img/imagem2.jpg" alt="" title=""  >
            <div class="container">
                <div class="carousel-caption text-start">
                    <h3>Using AWS Parameter Store for ASP.NET Core Data Protection Keys</h3>
                    <p>Some representative placeholder content for the second slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Veja mais</a></p>
                </div>
            </div>
        </div> 
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container pt-3">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            @foreach (var post in (List<Post>)ViewBag.PostsRecentes)
            {
                <article class="card mb-3">
                    <div class="card-body sys-articles-content">
                        <header>
                            <h1>
                                <a asp-action="Detalhes" asp-controller="post" asp-route-id="@post.Id" rel="bookmark">@post.Titulo</a>
                            </h1>
                            <div class="article-details">
                                <span class="posted-on">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                                    </svg>
                                    <a href="#" rel="bookmark">
                                        <time class="" datetime="@post.CadastradoEm">@post.CadastradoEm</time> 
                                    </a>
                                </span>
                                <span class="byline">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                    </svg>
                                    <span class="author vcard">
                                        <a class="url fn n" href="#">@post.CriadoPor</a>
                                    </span>
                                </span>
                               
                            </div>
                        </header>
                        <div class="article-img pb-3">
                            <img src="img/artigos/@post.Imagem" alt="@post.Titulo" title="@post.Titulo">
                        </div>
                        <div class="article-content">
                           @post.Descritivo
                        </div> 
                    </div>
                </article>
             }
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="card mb-3 ">
                <div class="card-body pesquisa-container">
                    <input type="search" class="form-control" placeholder="Pesquise pelos termos do artigo.">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h3>Categorias</h3>
                    <ul class="list-group">
                        @foreach (var categoria in (List<Categoria>)ViewBag.Categorias)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">@categoria.Nome</a>
                                <span class="badge bg-primary rounded-pill">@categoria.Posts.Count()</span>
                            </li>
                        } 
                    </ul>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h3>Tags</h3>
                    <div class="lista-tags">
                        @foreach (var tag in (List<string>)ViewBag.Tags)
                        {
                            <a href="/Posts/Lista/@tag">ASP.Net</a>
                        } 
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h3>Artigos recentes</h3>
                    <ul class="list-group">
                        @foreach (var post in (List<Post>)ViewBag.PostsRecentes)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="detalhes1.html">@post.Titulo</a>
                            </li>
                        } 
                    </ul> 
                </div>
            </div>
        </div>
    </div>
</div>