@model List<PostViewModel>

@foreach (var post in Model)
{
    <article class="card mb-3">
        <div class="card-body sys-articles-content">
            <header>
                <h1>
                    <a asp-action="Detalhes" asp-controller="post" asp-route-id="@post.Id" rel="bookmark">@post.Titulo</a>
                </h1>
                <div class="article-details">
                    <span class="posted-on">
                        <a asp-action="Detalhes" asp-controller="post" asp-route-id="@post.Id" rel="bookmark">
                            @Html.Raw(post.DataECriador)
                        </a>
                    </span>   
                </div>
            </header>
            <div class="article-img pb-3">
                <img src="~/img/artigos/@post.Imagem" alt="@post.Titulo" title="@post.Titulo">
            </div>
            <div class="article-content">
                @Html.Raw(post.Descritivo)

                <div class="text-end">
                    <a class="btn btn-primary" asp-action="Detalhes" asp-controller="post" asp-route-id="@post.Id">Continue lendo</a>
                </div>
            </div> 
            <div class="lista-tags">
                @foreach (var tag in post.Tags)
                {
                    <a asp-action="PorTag" asp-controller="Post" asp-route-tag="@tag">@tag</a>
                }

                 
            </div>
        </div>
    </article>
}